@using Multas.Models;
@using Multas.Shared.Services;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using Multas.Shared.Services.SInfracciones;
@inject IJSRuntime JSRuntime
@inject IComparendoService ComparendoService
@inject IInfraccionesService InfraccionesService;

@page "/Comparendos/Add"


<div class="content-wrapper">
    <section class="content-header"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="background-color:#112366">
                            <h3 class="card-title" style="color:white">Agregando Comparendos</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <!--"arrroba"Nombredelmodelo-->
                        <EditForm Model="@comparendos">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lFecha">Fecha</label>
                                            <input type="date" class="form-control col-auto" @bind="comparendos.fecha" id="lFecha">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lHora">Hora (hh:mm AM/PM)</label>
                                            <input type="text" class="form-control col-auto" @bind="comparendos.hora" id="lHora" placeholder="hh:mm AM/PM">
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lClaseVehiculo">Clase Vehiculo</label>
                                            <select id="lClaseVehiculo" class="form-control col-auto" @bind="comparendos.clase_veh">
                                                <option value="1" selected>Automovil</option>
                                                <option value="2">Bus</option>
                                                <option value="3">Buseta</option>
                                                <option value="4">Camion</option>
                                                <option value="5">Camioneta</option>
                                                <option value="6">Campero</option>
                                                <option value="7">Microbus</option>
                                                <option value="8">Motocicleta</option>
                                                <option value="9">Cuatrimoto</option>
                                                <option value="10">Motocarro</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lComparendo">Comparendo</label>
                                            <input type="text" class="form-control col-auto" @bind="comparendos.comparendo" id="lComparendo">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lLugar">Lugar</label>
                                            <input type="text" class="form-control col-auto" @bind="comparendos.lugar" id="lLugar">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lPlaca">Placa</label>
                                            <input type="text" class="form-control col-auto" @bind="comparendos.placa" id="lPlaca">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lCiudadPlaca">Ciudad Placa</label>
                                            <input type="text" class="form-control col-auto" @bind="comparendos.divipo_placa" id="lCiudadPlaca">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lTipoInfractor">Tipo Infractor</label>
                                            <select id="lTipoInfractor" class="form-control col-auto" @bind="comparendos.tipo_infractor">
                                                <option value="1">Conductor</option>
                                                <option value="2">Peaton</option>
                                                <option value="3">Ciclista</option>
                                                <option value="4">Motociclista</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="">
                                            <label for="lInfraccion">Infraccion</label>
                                            <input type="text" class="form-control" @bind="comparendos.infraccion" id="lInfraccion" @onblur="@(async () => { await EjecutarCalculoUvt(); await buscarNombreInfraccion(); })">
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label for="Linfname">Nombre infracción:</label>
                                            <input class="form-control col-12" type="text" readonly="readonly" value="@infracciones.nombre" />
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lTipoServicio">Tipo Servicio</label>
                                            <select id="lTipoServicio" class="form-control col-auto" @bind="comparendos.tipo_servicio">
                                                <option value="1">Diplomatico</option>
                                                <option value="2">Consular</option>
                                                <option value="3">Oficial</option>
                                                <option value="4">Particular</option>
                                                <option value="5">Publico</option>
                                                <option value="6">Otro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lMunicipio">Municipio</label>
                                            <input type="text" @bind="comparendos.mun" class="form-control col-auto" id="lMunicipio">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Reincide">Reincide</label>
                                                <input type="number" @bind="comparendos.reincide" class="form-control" id="lReincide" min="1" max="5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lCedula">Cedula</label>
                                            <input type="text" @bind="comparendos.cedula" class="form-control" id="lCedula">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lTipoIdentificacion">Tipo Identificacion</label>
                                            <select id="lTipoIdentificacion" class="form-control col-auto" @bind="comparendos.tipo_id">
                                                <option value="1">Cedula Ciudadania</option>
                                                <option value="2">Tarjeta Identidad</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lGradoAlcol">Grado Alcol</label>
                                            <input type="text" @bind="comparendos.grado_alcol" class="form-control" id="lGradoAlcol">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lNoPrueba">No. Prueba</label>
                                            <input type="text" @bind="comparendos.prueba" class="form-control" id="lNoPrueba">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lTipoTransporte">Tipo Transporte</label>
                                            <input type="text" @bind="comparendos.codigo_tran" class="form-control col-auto" id="lTipoTransporte">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lRadioAccion">Radio Accion</label>
                                            <input type="text" @bind="comparendos.radio_accion" class="form-control col-auto" id="lRadioAccion">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lModalidad">Modalidad</label>
                                            <input type="text" @bind="comparendos.modal_tran" class="form-control col-auto" id="lModalidad">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="lPatio">Patio</label>
                                            <input type="text" @bind="comparendos.patio" class="form-control col-auto" id="lPatio">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="lAgente">Agente</label>
                                            <input type="text" @bind="comparendos.agente" class="form-control" id="lAgente">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="lEntidad">Entidad</label>
                                            <select id="lEntidad" class="form-control col-auto" @bind="comparendos.entidad">
                                                <option value="1">Agente Locales</option>
                                                <option value="2">Polca</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="lValor">Valor</label>
                                            <input type="text" class="form-control" id="lValor" @bind="comparendos.valor">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <!-- checkbox -->
                                            <div class="form-check">
                                                <input class="form-check-input" @bind="comparendos.inmovil" type="checkbox" id="lInmovil">
                                                <label class="form-check-label" for="lInmovil">Inmovilizado</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" @bind="comparendos.accidente" type="checkbox" id="lAccidente">
                                                <label class="form-check-label" for="lAccidente">Accidente</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" @bind="comparendos.fuga" type="checkbox" id="lFuga">
                                                <label class="form-check-label" for="lFuga">Fuga</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <!-- checkbox -->
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" @bind="comparendos.importado" type="checkbox" id="lImportado">
                                                <label class="form-check-label" for="lImportado">Importado</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" @bind="comparendos.fotomulta" type="checkbox" id="lFotomulta">
                                                <label class="form-check-label" for="lFotomulta">Fotomulta</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="container-fluid">
                                    <div class="row mt-3">
                                        <div class="col-sm-8">
                                            <ol class="breadcrumb float-sm-right">
                                                <a href="/Comparendos" class="btn btn-primary pull-right">Atras</a>
                                            </ol>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <button @onclick="AddMulta" class="btn btn-primary pull-right">Guardar</button>
                                            <input type="hidden" @bind="comparendos.id" id="lId" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ValidationSummary />
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        comparendos.tipo_id = 1;
        comparendos.tipo_servicio = 4;
        comparendos.clase_veh = 1;
    }

    DateTime fechaHoy = DateTime.Now;

    public Infracciones infracciones { get; set; } = new Infracciones(); // Inicializar infracciones

    public Comparendos comparendos { get; set; } = new Comparendos
        {
            fecha = DateTime.Now,
            reincide = 1,
        };

    public string errorMessage { get; set; }
    //error al agregar comparendo si es fecha de hoy.


    private void ClearForm()
    {
        comparendos = new Comparendos
            {
                fecha = DateTime.Now // Restablecer la fecha inicial en la fecha actual
            };
        errorMessage = null;
    }


    private void OnFechaInputValueChanged(ChangeEventArgs e)
    {
        string fechaInput = e.Value.ToString();
        if (DateTime.TryParse(fechaInput, out DateTime fechaParseada))
        {
            comparendos.fecha = fechaParseada;
        }
    }



    protected async Task AddMulta()
    {
        //aplico la validacion.
        if (IsValid(comparendos))
        {
            try
            {
                DateTime fechaUtc = DateTime.SpecifyKind(comparendos.fecha, DateTimeKind.Utc);

                comparendos.fecha = fechaUtc;

                // Aquí debes llamar a tu servicio para agregar el comparendo
                await ComparendoService.Add(comparendos);

                await JSRuntime.InvokeVoidAsync("alert", "Comparendo agregado con exito");
                ClearForm();

            }
            catch (Exception ex)
            {
                errorMessage = $"Error al agregar el comparendo: {ex.Message}";
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "No se pueden crear comparendos con campos vacíos");
        }
    }
    //validar campos.
    private bool IsValid(Comparendos comparendo)
    {
        PropertyInfo[] properties = comparendo.GetType().GetProperties();
        List<string> propertiesToValidate = new List<string>
        {
            "fecha",
            "hora",
            "mun",
            "cedula",
            "comparendo",
            "tipo_servicio",
            "tipo_infractor",
            "clase_veh",
            "placa",
        };
        foreach (PropertyInfo property in properties)
        {
            // Validar que los campos de tipo string no sean nulos o vacíos
            if (propertiesToValidate.Contains(property.Name) && property.PropertyType == typeof(string))
            {
                string value = (string)property.GetValue(comparendo);
                if (string.IsNullOrEmpty(value))
                {
                    errorMessage = $"El campo '{property.Name}' es obligatorio.";
                    Console.WriteLine($"No se puede crear un comparendo sin {property.Name}.");
                    return false;
                }
            }

            // Aquí puedes agregar más validaciones para otros tipos de campos si es necesario
        }

        return true;
    }



    private async Task<double> CalcularValor(DateTime pfecha, string pinfraccion, int pgrado, int preincide)
    {
        Console.WriteLine($"fecha: {pfecha}");
        Console.WriteLine($"Valor de pinfraccion: {pinfraccion}");
        Console.WriteLine($"Valor alchoholemia: {pgrado}");
        Console.WriteLine($"Valor de reincide: {preincide}");



        var calcularUvt = await ComparendoService.calculoUvts(pfecha, pinfraccion, pgrado, preincide);

        Console.WriteLine($"Valor de retorno: {calcularUvt}");
        return calcularUvt;
    }

    private async Task EjecutarCalculoUvt()
    {
        //para que la tarea espere 100milisegundos, pues si no está el valor,o sea el codigo de la infraccion no puede buscar ni traer el procedimiento calc_inf()
        await Task.Delay(100);

        // Usa await para esperar la tarea y obtener el resultado
        double resultado = await CalcularValor(comparendos.fecha, comparendos.infraccion?.ToUpper(), comparendos.grado_alcol, comparendos.reincide);
        //asigno nombreInfraccion al parametro infracciones.nombre para asi poder castearlo en el input.
        string nombreInfraccion = await buscarNombreInfraccion();
        infracciones.nombre = nombreInfraccion;

        // Asigna el resultado a la propiedad comparendos.valor
        comparendos.valor = resultado;
    }

    private async Task<string> buscarNombreInfraccion()
    {
        string codigoInfraccion = comparendos.infraccion?.ToUpper();
        try
        {
            var infraccion = await InfraccionesService.GetNameInfraccionByCode(codigoInfraccion);

            if (infraccion != null)
            {
                Console.WriteLine($"El nombre de la infracción es: {infraccion}");
                StateHasChanged(); // Agrega esta línea si es necesario actualizar la interfaz de usuario
                infracciones.nombre = infraccion;
                Console.WriteLine($"El nombre de la infraccion desde el metodo es:{infracciones.nombre}");

                return infraccion; // Devuelve el nombre de la infracción
            }
            else
            {
                // Manejar el caso en que GetNameInfraccionByCode devuelva null
                Console.WriteLine("La infracción no fue encontrada.");
                return string.Empty; // O cualquier otro valor predeterminado
            }
            return infraccion;
        }
        catch (Exception ex)
        {
            errorMessage = $"Error al buscar nombre de infracción: {ex.Message}";
            StateHasChanged(); // Agrega esta línea si es necesario actualizar la interfaz de usuario con un mensaje de error

            return string.Empty; // O cualquier otro valor predeterminado
        }
    }
}