@inherits LayoutComponentBase

<PageTitle>Multas</PageTitle>

<div class="page">
    
    <div class="sidebar" style="backgroud-color:#122159">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

